/*****************  CSS RESPONSIVE *****************/
@media (max-width: 1024px){
    .Principal, 
    .VerInformacion, 
    .RegistrarContacto, 
    .RegistrarCita, 
    .BuscarContacto{
        width: 100% !important;
    }
}
@media (max-width: 768px){
    .Registro {
        grid-column: span 2;
    }
}
@media (max-width: 540px){
    .Informacion-FotoPerfil, 
    .Informacion-Cita, 
    .Form-Informacion, 
    .Form-Cita,
    .Form-InformacionContacto
    {
        width: 100% !important;
    }
    .Informacion-DatosDelContacto, 
    .Informacion-DatosDeLaCita{
        padding: 1rem !important;
    }
    .Form-Informacion div:nth-child(1n + 2),
    .Form-Cita div:nth-child(1n + 2),
    .Form-InformacionContacto div:nth-child(1n + 2)
    {
        padding: 0 1rem;
    }
    .Form-ResultadoDeBusqueda{
        padding: 0 !important;
    }
    .Form-GuardarRegistro,
    .Form-ResultadoDeBusqueda
    {
        width: calc(100% - 2rem) !important;
    }
}
@media (max-width: 414px){
    *{
        font-size: 9px;
    }
    .Seccion-1 .BarraBusqueda{
        width: 85%;
    }
    .Seccion-1 .AgregarRegistro{
        width: 15%;
    }
}