/*****************  CSS DEL CONTENEDOR *****************/
.VerInformacion{
    position: absolute;
    width: 100rem; /* 1000PX */
    height: 100%;
    background: var(--Blanco);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    bottom: -100%;
    transition: .5s;
    overflow: auto;
}
.VerInformacion::-webkit-scrollbar{
    display: none;
}
.Informacion-Mostrar{
    z-index: 1000;
    bottom: 0;
}
/*****************  CSS DE LA FOTO DE PERFIL DEL USUARIO *****************/
.Informacion-FotoPerfil{
    position: relative;
    width: 50rem;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--GrisPastel);
}
.Informacion-ImgUsuario {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}


/*****************  CSS DE LAS OPCIONES DE EDIT *****************/
.Informacion-Modificaciones{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Informacion-Cerrar{
    background: var(--GrisOscuro);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Informacion-ModificacionesOpciones{
    display: flex;
}
.Informacion-Concluido{
    background: var(--Verde);
}
.Informacion-Editar{
    background: var(--Azul);
}
.Informacion-Eliminar{
    background: var(--Rojo);
}
.Informacion-IconoCerrar,
.Informacion-Concluido,
.Informacion-Editar,
.Informacion-Eliminar
{
    padding: .5rem;
    color: var(--Blanco);
    font-size: 2.5rem;
    cursor: pointer;
}
/*****************  CSS DE LA INFORMACION DEL USUARIO *****************/
.Informacion-DatosDeLaCita{
    width: 50rem;
    height: auto;
    background: var(--Blanco);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*****************  CSS DE LA INFORMACION IMPORTANTE *****************/
.Informacion-DatosDelContacto{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/*****************  CSS DE LA INFORMACION IMPORTANTE A DETALLES *****************/
.Informacion-ListaDocumentos{
    grid-column: span 2;
    border-radius: 1rem;
    min-height: 7rem;
    display: flex;
    background: var(--GrisPastel);
}
.Informacion-CalleDeLaCita{
    grid-column: span 2 !important;
}
.Informacion-NombreContacto,
.Informacion-Telefono,
.Informacion-FechaDeLaCita,
.Informacion-HoraDeLaCita,
.Informacion-MunicipioDeLaCita,
.Informacion-ColoniaDeLaCita,
.Informacion-CalleDeLaCita
{
    grid-column: span 1;
    border-radius: 1rem;
    min-height: 7rem;
    display: flex;
    background: var(--GrisPastel);
}
.Informacion-IconoCalle{
    width: 15% !important;
}
.Informacion-IconoNombre,
.Informacion-IconoTelefono,
.Informacion-IconoFecha,
.Informacion-IconoHora,
.Informacion-IconoMunicipio,
.Informacion-IconoColonia,
.Informacion-IconoCalle
{
    width: 30%;
    height: 100%;
    display: grid;
    place-items: center;
}
.Informacion-IconoNombre ion-icon,
.Informacion-IconoTelefono ion-icon,
.Informacion-IconoFecha ion-icon,
.Informacion-IconoHora ion-icon,
.Informacion-IconoMunicipio ion-icon,
.Informacion-IconoColonia ion-icon,
.Informacion-IconoCalle ion-icon,
.Informacion-IconoDocumento ion-icon,
.Informacion-IconoDescargar ion-icon,
.Informacion-IconoEliminar ion-icon
{
    font-size: 2.5rem;
    color: var(--GrisOscuro);
}
.Informacion-DetallesCalle{
    width: 85% !important;
}
.Informacion-DetallesNombre,
.Informacion-DetallesTelefono,
.Informacion-DetallesFecha,
.Informacion-DetallesHora,
.Informacion-DetallesMunicipio,
.Informacion-DetallesColonia,
.Informacion-DetallesCalle
{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.Informacion-TituloNombre,
.Informacion-TituloTelefono,
.Informacion-TituloFecha,
.Informacion-TituloHora,
.Informacion-TituloMunicipio,
.Informacion-TituloColonia,
.Informacion-TituloCalle
{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--GrisOscuro);
}
.Informacion-NombreCompleto,
.Informacion-NumeroTelefono,
.Informacion-FechaFinal,
.Informacion-HoraFinal,
.Informacion-MunicipioFinal,
.Informacion-ColoniaFinal,
.Informacion-CalleFinal
{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--GrisOscuro);
    text-transform: uppercase;
}


/*****************  CSS DE LA INFORMACION VARIOS *****************/
.Informacion-TituloDatosContacto,
.Informacion-TituloDatosCita,
.Informacion-TituloAsuntoDeLaCita,
.Informacion-TituloComentariosDeLaCita,
.Informacion-TituloDocumentos
{   
    grid-column: span 2;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--GrisOscuro);
}
.Informacion-FinalAsuntoDeLaCita,
.Informacion-FinalComentariosDeLaCita
{
    grid-column: span 2;
    font-size: 1.3rem;
    color: var(--GrisOscuro);
    text-transform: uppercase;
}
/*****************  CSS DE LA INFORMACION DE DOCUMENTOS *****************/
.Informacion-ListaDocumentos{
    height: 7rem;
    border-radius: 1rem;
    display: flex;
    background: var(--GrisPastel);
}
.Informacion-NombreDelDocumento
{
    width: 70%;
    height: 100%;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--GrisOscuro);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Informacion-IconoDocumento,
.Informacion-IconoDescargar,
.Informacion-IconoEliminar
{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Informacion-IconoDescargar ion-icon
{
    color: var(--Azul);
}
.Informacion-IconoEliminar ion-icon{
    color: var(--Rojo);
}
.Informacion-IconoDescargar,
.Informacion-IconoEliminar{
    cursor: pointer;
}