:root{
    --Negro: #000000;
    --Blanco: #ffffff;
    --AzulPastel: #a3cad6;
    --AzulTexto: #659393;
    --VerdePastel: #c2d6bd;
    --VerdeTexto: #6e9566;
    --NaranjaPastel: #f2dac6;
    --NaranjaTexto: #db9862;
    --RosaPastel: #efe0e0;
    --RosaTexto: #cb9494;
    --GrisPastel: #eeeeee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
button, input{
    outline: none;
    border: none;
}
button:active{
    transform: scale(.8);
    cursor: pointer;
    transition: .5s;
}
body{
    background: var(--AzulPastel);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.Contenedor{
    width: 100rem; /* 1000PX */
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* 20PX */
    overflow: auto;
}
.Contenedor::-webkit-scrollbar{
    display: none;
}
.Header{
    width: 95%;
    min-height: 7rem; /* 70PX */
    max-height: 7rem; /* 70PX */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header .Logo{
    height: 90%;
}

/*****  DISEÑO DE LA SECCION 1   ******/
.Seccion-1{
    position: sticky;
    top: 0;
    background: var(--Blanco);
    width: 95%;
    min-height: 8rem; /* 60PX */
    max-height: 8rem; /* 60PX */
    display: flex;
    gap: 1rem; /* 10PX */
    z-index: 999;
    padding: 1rem 0px;
} 
.Seccion-1 .BarraBusqueda{
    width: 90%;
    position: relative;
}
.Seccion-1 .BarraBusqueda .Buscar{
    width: 100%;
    height: 100%;
    background:rgba(242,218,198,.5);
    border-radius: 1rem; /* 10PX */
    padding: 0px 3.5rem; /* 35PX */
    font-size: 1.5rem; /* 15PX */
}
.Seccion-1 .BarraBusqueda .IconoBuscar{
    position: absolute;
    font-size: 2rem; /* 20PX */
    top: calc(50% - 1rem); /* 10PX */
    left: 1rem; /* 10PX */
}
.Seccion-1 .BarraBusqueda .IconoCerrar{
    position: absolute;
    font-size: 2rem; /* 20PX */
    top: calc(50% - 1rem); /* 10PX */
    right: 1rem; /* 10PX */
}
.Seccion-1 .AgregarRegistro{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Seccion-1 .AgregarRegistro .NuevoRegistro{
    width: 100%;
    height: 100%;
    font-size: 1rem; /* 10PX */
    line-height: 1rem; /* 10PX */
    background: var(--AzulPastel);
    border-radius: 1rem;
}
.Seccion-1 .AgregarRegistro .NuevoRegistro ion-icon{
    color: var(--Blanco);
    font-size: 3em; /* 25PX */
    font-weight: 900;
}


/*****  DISEÑO DE LA SECCION 2   ******/
.Seccion-2{
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* 10PX */
    padding-bottom: 1rem; /* 10PX */
}
.Seccion-2 .Registro{
    width: 100%;
    height: 15rem; /* 150PX */
    grid-area: span 1;
    border-radius: 1rem; /* 10PX */
    display: flex;
    gap: .5rem;
    overflow: hidden;
}
.Seccion-2 .Registro:nth-child(4n - 3){
    background: var(--VerdePastel);
}
.Seccion-2 .Registro:nth-child(4n - 2){
    background: var(--AzulPastel);
}
.Seccion-2 .Registro:nth-child(4n - 1){
    background: var(--NaranjaPastel);
}
.Seccion-2 .Registro:nth-child(4n){
    background: var(--RosaPastel);
}
.Seccion-2 .Registro .FotoDelUsuario{
    min-width: 30%;
    max-width: 30%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Seccion-2 .Registro .FotoDelUsuario .FotoPerfil{
    width: auto;
    max-width: 90%;
    height: auto;
    max-height: 90%;
    border-radius: 1rem; /* 10PX */
}
.Seccion-2 .Registro .Informacion{
    min-width: 5%;
    max-width: 55%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem; /* 5PX */
} 
.Seccion-2 .Registro .Informacion .ColoniaMunicipio,
.Seccion-2 .Registro .Informacion .Nombre,
.Seccion-2 .Registro .Informacion .Asunto{
    width: 100%;
    text-align: justify;
}
.Seccion-2 .Registro .Informacion .Nombre{
    font-size: 1.5rem; /* 15PX */
    font-weight: bold;
    text-transform: uppercase;
}
.Seccion-2 .Registro:nth-child(4n - 3) .Informacion .ColoniaMunicipio,
.Seccion-2 .Registro:nth-child(4n - 2) .Informacion .ColoniaMunicipio,
.Seccion-2 .Registro:nth-child(4n - 1) .Informacion .ColoniaMunicipio,
.Seccion-2 .Registro:nth-child(4n) .Informacion .ColoniaMunicipio
{
    color: var(--Negro);
    opacity: .8;
}
.Seccion-2 .Registro:nth-child(4n - 3) .Informacion .Asunto{
    color: var(--VerdeTexto);
    font-weight: bold;
}
.Seccion-2 .Registro:nth-child(4n - 3) .VerUsuario .MostrarInformacion ion-icon{
    color: var(--VerdeTexto);
}
.Seccion-2 .Registro:nth-child(4n - 2) .Informacion .Asunto{
    color: var(--AzulTexto);
    font-weight: bold;
}
.Seccion-2 .Registro:nth-child(4n - 2) .VerUsuario .MostrarInformacion ion-icon{
    color: var(--AzulTexto);
}
.Seccion-2 .Registro:nth-child(4n - 1) .Informacion .Asunto{
    color: var(--NaranjaTexto);
    font-weight: bold;
}
.Seccion-2 .Registro:nth-child(4n - 1) .VerUsuario .MostrarInformacion ion-icon{
    color: var(--NaranjaTexto);
}
.Seccion-2 .Registro:nth-child(4n) .Informacion .Asunto{
    color: var(--RosaTexto);
    font-weight: bold;
}
.Seccion-2 .Registro:nth-child(4n) .VerUsuario .MostrarInformacion ion-icon{
    color: var(--RosaTexto);
}
.Seccion-2 .Registro .VerUsuario{
    min-width: 15%;
    max-width: 15%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Seccion-2 .Registro .VerUsuario .MostrarInformacion{
    font-size: 1rem; /* 10PX */
    line-height: 1rem; /* 10PX */
    padding: 1rem; /* 10PX */
    border-radius: 50%;
    background: var(--Blanco);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
    cursor: pointer;
}
.Seccion-2 .Registro .VerUsuario .MostrarInformacion ion-icon{
    font-size: 2.5rem; /* 25PX */
    font-weight: bold;
}

@media (max-width: 1024px){
    .Contenedor{
        width: 100%;
    }
}
@media (max-width: 768px){
    .Seccion-2 {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 414px){
    *{
        font-size: 9px;
    }
    .Seccion-1 .BarraBusqueda{
        width: 85%;
    }
    .Seccion-1 .AgregarRegistro{
        width: 15%;
    }
}