
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
body{
    background: #606060;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
input:focus{
    outline: none;
}
input, button{
    border: none;
}
.Concluido{
    filter: grayscale(100%);
    opacity: .5;
    pointer-events: none;
}
.Contenedor{
    width: 100rem; /* 1000PX */
    height: 100%;
    background: #eeeeee;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* 20PX */
    overflow: auto;
}
.Contenedor::-webkit-scrollbar{
    display: none;
}
.Header{
    width: 100%;
    height: 7rem; /* 70PX */
    min-height: 7rem; /* 70PX */
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .2);
}
.Header img{
    height: 90%;
}
/***** CSS DE LA SECCION 1 *****/

.Seccion-1{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem; /* 20PX */

}
.Seccion-1 .Buscador, .Seccion-1 .AgregarRegistro{
    position: relative;
    width: 100%;
    height: 6rem;  /* 60PX */
    background: #ffffff;
    display: grid;
    place-items: center;
} 
.Seccion-1 .Buscador input{
    width: 100%;
    height: 100%;
    padding: 2rem 2rem 2rem 3.5rem; /* 20PX 20PX 20PX 35PX */
    font-size: 1.5rem;
}
.Seccion-1 .Buscador ion-icon{
    position: absolute;
    font-size: 2rem; /* 20PX */
    left: 1rem; /* 10PX */
    top: calc(50% - 1rem); /* -10PX */
}
.Seccion-1 .AgregarRegistro{
    background: none;
}
.Seccion-1 .AgregarRegistro button{
    width: 6rem; /* 60PX */
    height: 100%;
    line-height: 1rem; /* 10PX */
    background: #03c92c;
}
.Seccion-1 .AgregarRegistro button:hover{
    cursor: pointer;
    background: rgba(3,201,44,.6);
}
.Seccion-1 .AgregarRegistro button:active{
    transform: scale(.8);
}
 .Seccion-1 .AgregarRegistro ion-icon{
     font-size: 4rem; /* 40PX */
     color: #ffffff;
} 


/***** CSS DE LA SECCION 2 *****/

.Seccion-2{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem; /* 20PX */
    padding: 0px 0px 2rem 0px; /* 20PX */
}
.Seccion-2 .Filtro{
    width: 100%;
    height: auto;
    background: #eeeeee;
    font-size: 1.5rem;  /* 15PX */
    text-transform: uppercase;
}
.Seccion-2 .Registro{
    width: 100%;
    height: 10rem; /* 100PX */  
    min-height: 10rem; /* 100PX */  
    display: flex;
    gap: 1rem; /* 10PX */
    background: #ffffff;
}
.Seccion-2 .Registro .Fotografia{
    width: 12rem; /* 120PX */  
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Seccion-2 .Registro .Fotografia img{
    max-width: 75%; 
    max-height: 85%;
}
.Seccion-2 .Registro .Informacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Seccion-2 .Registro .Informacion .Municipio{
    font-size: 1rem; /* 10PX */
}
.Seccion-2 .Registro .Informacion .Nombre{
    font-size: 1.5rem; /* 15PX */
    font-weight: bold;
    text-transform: uppercase;
}
.Seccion-2 .Registro .Informacion .Asunto{
    font-size: 1rem; /* 10PX */
    color: #03c92c;
    font-weight: bold;
    padding-right: .5rem; /* 5PX */
}

@media (max-width: 1024px){
    .Contenedor{
        width: 100%;
    }
}
@media (max-width: 768px){
    *{
        font-size: 8px;
    }
}
@media (max-width: 470px){
    *{
        font-size: 7px;
    }
}
@media (max-width: 350px){
    *{
        font-size: 5px;
    }
}